@import url('../node_modules/@launchpad-ui/tokens/dist/index.css');
@import url('../node_modules/@launchpad-ui/tokens/dist/media-queries.css');
@import url('../node_modules/@launchpad-ui/tokens/dist/themes.css');

@font-face {
  font-family: inter;
  src: url('https://fonts.gstatic.com/s/inter/v7/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
  font-display: swap;
  font-weight: 300 700;
}

html,
body,
#root {
  box-sizing: border-box; 

  font-family: var(--lp-font-family-base);
  font-size: var(--lp-font-size-300);
  line-height: var(--lp-line-height-300);

  background-color: var(--lp-color-bg-ui-primary);
} 

.only-show-overrides-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul.flags-list {
  margin: 0;
  padding: 0;
}

ul.flags-list li {
  list-style-type: none;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul.flags-list li .flag-value {
  overflow-x: overlay;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 1;
  padding-right: 1rem;
}

code {
  background-color: var(--lp-color-bg-ui-secondary);
  border: 1px solid var(--lp-color-border-ui-primary);
  border-radius: 2px;
  font-size: 87.5%;
  padding: 0.125rem 0.25rem;
}

code.has-override {
  color: var(--lp-color-pink-600);
}
