@import url("../node_modules/@launchpad-ui/tokens/dist/index.css");
@import url("../node_modules/@launchpad-ui/tokens/dist/media-queries.css");
@import url("../node_modules/@launchpad-ui/tokens/dist/themes.css");

html,
body,
#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#root {
  padding: 2rem;
}

ul.flags-list {
  margin: 0;
  padding: 0;
  max-width: 40rem;
  margin: 0 auto;
}

ul.flags-list li {
  list-style-type: none;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
