const LaunchDarkly = require('@launchdarkly/node-server-sdk');
// --- init ---
const ldClient = LaunchDarkly.init('{{.SDKKey}}');

const context = {
  kind: 'user',
  key: 'example-user-key',
  name: 'Example User',
};

ldClient.on('ready', () => {
  ldClient.variation('{{.FlagKey}}', context, false, (err, flagValue) => {
    console.log(`Flag '{{.FlagKey}}' is ${flagValue}`);
  });
});
